{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
<script>
  (function($) {
    $(function() {
      $('#twitter-authorize').bind('click', function() {
        window.open('{% url tweet-authorize %}', 'twitter_authorize',
          'scrollbars=1,width=800,height=500')
      })
    })
  })(django.jQuery)
</script>
{% endblock %}

{% block object-tools %}
{{ block.super }}
<p>
  <button class="button" id="twitter-authorize">Retrieve credentials from Twitter</button>
</p>
{% endblock %}
